<section class="chat">
    <h1><%= title %></h1>
    <div class="prev-messages">
        <% for (let message of messages) { %>
            <div class="prev-message <%= (message.user === user.email) ? "user-message" : "other-message" %>">
                <div class="message-header">
                    <p><%=message.user%></p>
                    <p><%=message.time %></p>
                </div>
                <div class="message-content">
                    <p><%= message.text %></p>
                </div>
            </div>
        <% } %>
    </div>
    <form method="post" action="/chat" class="add-message">
        <input aria-label="message" placeholder="Message..." type="text" name="message" id="message">
        <button type="submit">></button>
    </form>
</section>